<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/pp.jpg" alt="Sandi" class="img-thumbnail rounded-circle" width="200px" />
      <h1 class="display-4">SAndi</h1>
      <p class="lead">web programmer</p>
    </div>
  </div>
</div>
